<md-toolbar>
    <button class="menu-icon-button" md-button>
      <!--<ion-icon name="menu"></ion-icon>-->
    </button>
    <h1># {{channel?.name}}</h1>
</md-toolbar>
<div>
  <div class="message-scroller">
    <div class="loading-spinner-container" *ngIf="loadingMessages && isFirstLoad">
      <md-spinner class="loading-spinner"></md-spinner>
    </div>

    <virtual-scroll
      [items]="messages"
      [childHeight]="66"
      [keepIndexOnChange]="keepIndexOnItemsChange"
      (update)="scrollItems = $event"
      (change)="scrollValueChanged($event)">

      <div class="loading-more-spinner" *ngIf="isLoadingMore">
        <md-spinner name="bubbles"></md-spinner>
      </div>

      <div *ngFor="let message of scrollItems">
        <chat-message [message]="message"></chat-message>
      </div>

    </virtual-scroll>
  </div>
</div>
<div>
  <span class="message-row">
    <input #messageInput class="message-input" type="text" placeholder="Message"
               [(ngModel)]="model.message" (keyup.enter)="sendMessage()">
    <button class="send-button" md-button (click)="sendMessage()" (focus)="sendMessageButtonFocus($event)">
      <!--<ion-icon name="paper-plane"></ion-icon>-->
    </button>
  </span>
</div>
