<div class="login-page">
  <img padding class="login-logo hide-on-keyboard" src="./assets/images/rocketchat.logo.svg" alt="logo">
  <md-card class="login-card" *ngIf="!showSpinner; else spinner">
    <span class="login-buttons">
      <a class="google-login" md-button href="{{getServiceUrl('google')}}">
        <!--<ion-icon class="service-login-icon" name="logo-google"></ion-icon>-->
      </a>
    </span>

    <div>
      <div>Username</div>
      <md-input-container>
        <input mdInput [(ngModel)]="model.username" placeholder="username">
      </md-input-container>
    </div>

    <div>
      <div>Password</div>
      <md-input-container>
        <input mdInput [(ngModel)]="model.password" placeholder="password">
      </md-input-container>
    </div>

    <span class="login-buttons">
      <button md-button (click)="login()">
        <md-spinner *ngIf="loading; else btnText"></md-spinner>
        <ng-template #btnText>Login</ng-template>
      </button>
    </span>
  </md-card>
  <ng-template #spinner>
    <md-spinner class="oauth-spinner"></md-spinner>
  </ng-template>
</div>
